﻿@model BusDetection.Web.ViewModels.UploadImageViewModel
@{
    ViewBag.Title = "Image";
}

<h2>Upload</h2>

@using (Html.BeginForm("ProcessImage", "Bus", FormMethod.Post, new { enctype = "multipart/form-data" }))
{
    @Html.Label("Upload Image:")
    @Html.TextBoxFor(m => m.File, new { type = "file" })
    <input type="submit" value="Upload" />
}

@if (ViewBag.UploadSuccess == true)
{
    <span>Upload Competed Successfully</span>
}